{% extends 'base.html.twig' %}

{% block title %}MedP index{% endblock %}

{% block body %}
    <h1>MedP index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for med_p in med_ps %}
            <tr>
                <td>{{ med_p.id }}</td>
                <td>
                    <a href="{{ path('med_p_show', {'id': med_p.id}) }}">show</a>
                    <a href="{{ path('med_p_edit', {'id': med_p.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('med_p_new') }}">Create new</a>
{% endblock %}
